@using RST.Helper_Code;
@using RST.Models;
@model IEnumerable<RST.Models.Post>


@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}
@section top{
    <title>Blogs</title>
}
@section head{
}

@if (Model.Count() == 0)
{
    <p>
        There are no articles and videos here.
    </p>
}
else
{
    <ul>
        @foreach (var a in Model)
        {
            <li class="wow fadeInUp animated">
                <h2>
                    @a.Title
                </h2>
                <div class="author">
                    @a.WriterName  |   @a.DateCreated.ToString("MMM dd, yyyy")
                </div>
                @if (a.OGImage != string.Empty)
                {
                    <div class="blog-img">
                        <a href="@Utility.GenerateBlogArticleURL(a, Utility.SiteURL)">
                            <img src="@a.OGImage" alt="" />
                        </a>
                        <div class="shape wow slideOutRight" style="visibility: visible; animation-name: slideOutRight;"></div>
                    </div>
                }
                <p>@a.OGDescription</p>
                <div class="svg-wrapper svg-wrapper2">
                    <svg height="100%" width="100%">
                        <rect id="shape" height="100%" width="100%"></rect>
                    </svg><div id="text"> <a href="@Utility.GenerateBlogArticleURL(a, Utility.SiteURL)"><span class="spot"></span>Read More</a> </div>
                </div>
            </li>
        }
    </ul>
}


