@{
    Page.Title = "";
    Layout = "~/_BlogLayout.cshtml";
}
@if (this.UrlData.Count > 0)
{
    var url = this.UrlData[0];
    using (DataClassesDataContext dc = new DataClassesDataContext())
    {
        var a = dc.Posts.FirstOrDefault(t => t.URL.ToLower() == url.ToLower());
        if (a != null)
        {

            <div class="our-blog-leftbar">
                <ul>
                    <li class="wow fadeInUp animated">
                        <h2>
                            @a.Title
                        </h2>
                        <div class="author">
                            <img src="~/images/auther-img.jpg" alt="Auther"><span>@a.WriterName  |  @a.DateCreated.ToString("MMMM d yyyy")</span>
                        </div>
                        <!--<div class="blog-img">
        <img src="@(string.IsNullOrEmpty(a.OGImage) ? "images/blog-img-1.jpg" : a.OGImage)" alt="Blog">
        <div class="shape wow slideOutRight" style="visibility: visible; animation-name: slideOutRight;"></div>
    </div>-->
                        <div class="single-blog-content">
                            @Html.Raw(a.Article)
                        </div>
                        <div id="disqus_thread">
                        </div>
                        <script type="text/javascript">
                            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                            var disqus_shortname = 'rudrasofttechllp'; // required: replace example with your forum shortname

                            /* * * DON'T EDIT BELOW THIS LINE * * */
                            (function () {
                                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                            })();
                        </script>
                        <noscript>
                            Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">
                                comments
                                powered by Disqus.
                            </a>
                        </noscript>
                        <a href="http://disqus.com" class="dsq-brlink">
                            comments powered by <span class="logo-disqus">
                                Disqus
                            </span>
                        </a>
                    </li>
                </ul>
                <!--<div class="our-blog-btns">
                    <a href="#" class="previous-btn"><img src="images/previous-arow.png" alt="Previous"> Back</a>
                </div>-->
            </div>
        }
        else
        {

        }
    }
}
else
{
    <h1 class="wow fadeInUp animated">Our Blog</h1>
    <div class="our-blog-leftbar">
        <ul>
            @{

                using (DataClassesDataContext dc = new DataClassesDataContext())
                {
                    var articles = dc.Posts.Where(t => t.Status == 2).OrderByDescending(t => t.DateCreated);
                    foreach (var a in articles)
                    {
                        <li class="wow fadeInUp animated">
                            <h2>
                                @a.Title
                            </h2>
                            <div class="author">
                                <img src="images/auther-img.jpg" alt="Author">@a.WriterName  |  @a.DateCreated.ToString("MMMM d yyyy")
                            </div>
                            <!--<div class="blog-img">
                                <a href="blog/@a.URL"><img src="@Html.Raw(string.IsNullOrEmpty(a.OGImage) ? "images/blog-img-1.jpg" : a.OGImage)" alt="Blog"></a>
                                <div class="shape wow slideOutRight" style="visibility: visible; animation-name: slideOutRight;"></div>
                            </div>-->
                            <p>@a.OGDescription</p>
                            <div class="svg-wrapper svg-wrapper2">
                                <svg height="100%" width="100%">
                                    <rect id="shape" height="100%" width="100%"></rect>
                                </svg><div id="text"> <a href="blog/@a.URL"><span class="spot"></span>Read More</a> </div>
                            </div>
                        </li>
                    }
                }
            }

        </ul>
        @*<div class="our-blog-btns">
                <a href="#" class="previous-btn"><img src="images/previous-arow.png" alt="Previous"> previous</a>
                <a href="#" class="next-btn"> Next <img src="images/next-arow.png" alt="Next"></a>
            </div>*@
    </div>
}