@page
@model RST.Web.Pages.Account.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rudra Softtech Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body>
    <div class="container py-5">
        <div class="row">
            <div class="offset-lg-4 col-lg-4 col-md-6">
                <div class="mb-lg-5 mb-md-3 text-end">
                    <img src="//www.rudrasofttech.com/l/img/rst-logo-small.png" alt="Rudra Softtech LLP" style="max-height:80px;" class="img-fluid" />
                </div>
                @if (!User.Identity.IsAuthenticated)
                {
                    @if (Model.LoginReturn != null && !string.IsNullOrEmpty(Model.LoginReturn.Token))
                    {
                        <div>
                            <h1>Hello, @Model.LoginReturn.Member.FirstName</h1>
                            @if (string.IsNullOrEmpty(Model.LoginReturn.ReturnURL))
                            {
                                <p>You are logged in.</p>
                                <a class="mt-4" href="~/account/logout">Logout Now</a>
                            }
                            else
                            {
                                <p>You will be redirected now.</p>
                                <p>If it not happens, <a href="@Model.LoginReturn.ReturnURL">click here</a> to move.</p>
                            }
                        </div>
                        <script>
                            sessionStorage.setItem("token", "@Model.LoginReturn.Token");
                            try{
                                window.opener.postMessage({token : "@Model.LoginReturn.Token",
                                email : "@Model.LoginReturn.Member.Email",
                                name: "@Model.LoginReturn.Member.FirstName",
                                expiry: "@Model.LoginReturn.Expiry"}, "*");
                            }catch(e){
                                console.error("Error posting message to opener:", e);
                            }
                        </script>
                        @if (!string.IsNullOrEmpty(Model.LoginReturn.ReturnURL))
                        {
                            <script type="text/javascript">
                                setTimeout(function() {
                                    location.href = '@Model.LoginReturn.ReturnURL';
                                }, 2000);
                            </script>
                        }
                    }
                    else
                    {
                        <h2 class="mb-3">Sign in</h2>
                        <form method="post">
                            <div class="mb-4">
                                <div class="d-flex justify-content-between">
                                    <label for="emailTxt" class="form-label fw-bold">Email</label>
                                    <small>Required</small>
                                </div>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="mb-4">
                                <div class="d-flex justify-content-between">
                                    <label for="passwordTxt" class="form-label fw-bold">Password</label>
                                    <small>Required</small>
                                </div>

                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            @if (!string.IsNullOrEmpty(Model.Error))
                            {
                                <div class="text-danger my-2">@Model.Error</div>
                            }
                            <div class="text-center mb-5">
                                <button type="submit" class="btn btn-primary w-100">Login</button>
                            </div>
                            <div class="text-end mb-3 fs-5">
                                <p><a href="~/account/forgotpassword?returnurl=@Request.Query["returnurl"]">Forgot Your Password?</a></p>
                            </div>
                            <div class="text-end mb-5 fs-5">
                                <p><a href="~/account/register?returnurl=@Request.Query["returnurl"]">Register Now</a> for free acount.</p>
                            </div>
                        </form>
                    }
                }
                else
                {
                    if (Model.CurrentMember != null)
                    {
                        <div>
                            <h1>Hello, @Model.CurrentMember.FirstName</h1>
                            <p>You are already logged in.</p>
                            <a class="btn btn-primary mt-4" href="~/account/logout">Logout Now</a>
                            <script>
                                try{
                                    window.opener.postMessage({
                                        token : "@Model.LoginReturn.Token",
                                        email : "@Model.LoginReturn.Member.Email",
                                        name: "@Model.LoginReturn.Member.FirstName",
                                    expiry: "@Model.LoginReturn.Expiry"}, "*");
                                }catch(e){
                                    console.error("Error posting message to opener:", e);
                                }
                            </script>
                            @if (!string.IsNullOrEmpty(Model.LoginReturn.ReturnURL))
                            {
                                <script type="text/javascript">
                                    setTimeout(function() {
                                        location.href = '@Model.LoginReturn.ReturnURL';
                                    }, 2000);
                                </script>
                            }
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>