@page
@model RST.Web.Pages.Account.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rudra Softtech Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">

</head>
<body>
    <div class="container-lg">
        <div class="row">
            <div class="col-md text-center">
                <img src="//www.rudrasofttech.com/l/img/rst-logo-small.png" alt="Rudra Softtech LLP" style="max-height:100px;" class="img-fluid" />
            </div>
            <div class="col-md">
                @if (!User.Identity.IsAuthenticated)
                {

                    @if (Model.LoginReturn != null && !string.IsNullOrEmpty(Model.LoginReturn.Token))
                    {
                        <div>
                            <h1>Hello, @Model.LoginReturn.Member.FirstName</h1>
                            @if (string.IsNullOrEmpty(Model.LoginReturn.ReturnURL))
                            {
                                <p>You are logged in.</p>
                                <a class="mt-4" href="~/account/logout">Logout Now</a>
                            }
                            else
                            {
                                <p>You will be redirected now.</p>
                                <p>If it not happens, <a href="@Model.LoginReturn.ReturnURL">click here</a> to move.</p>
                            }
                        </div>
                        <script>
                            localStorage.setItem("token", "@Model.LoginReturn.Token");
                            setTimeout(function() {
                                location.href = '@Model.LoginReturn.ReturnURL';
                            }, 2000);
                        </script>
                    }
                    else
                    {
                        <form method="post">
                            <div class="mb-3">
                                <label for="emailTxt" class="form-label">Email *</label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="passwordTxt" class="form-label">Password</label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
                        @if (!string.IsNullOrEmpty(Model.Error))
                        {
                            <div class="text-danger my-2">@Model.Error</div>
                        }
                    }
                }
                else
                {
                    if (Model.CurrentMember != null)
                    {
                    <div>
                            <h1>Hello, @Model.CurrentMember.FirstName</h1>
                            <p>You are already logged in.</p>
                            <a class="btn btn-primary mt-4" href="~/account/logout">Logout Now</a>
                    </div>
                    }
                }
            </div>
        </div>
    </div>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>